@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html { scroll-behavior: smooth; } 

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0,
    "SHRP" 0;
}

@layer base {
  @font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Geologica-Regular.ttf) format('ttf');
  }
}


.background-gradient {
  background: rgb(4,4,10);
  background: linear-gradient(90deg, #19212b 0%, #202a36 50%, #19212b 100%); 
  /* 171923 0c0c0c */
}

.background-gradient-dark {
  background: rgb(4,4,10);
  background: linear-gradient(0deg, #101c2b 0%, #0f0f0f 100%);
}

.background-gradient-blue {
  background: rgb(4,4,10);
  background: linear-gradient(90deg, rgba(4,4,10,1) 0%, rgb(13, 14, 22) 50%, rgba(4,4,10,1) 100%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}